body {
 font-family: 'Source Sans Pro', sans-serif;
 padding: 0px 0px 0px 100px;
 background-color: #bbbbbb;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "header header"
  "sidebar main"
  "footer footer";
  grid-gap: 12px;
}

.header {
  grid-area: header;
  display: inline-block;
  background-color: #101e45;
  padding: 0px;
  height: 40px;
}

.main {
  background-color: #2d8aca;
  padding: 20px;
  text-align: center;
}

.newsfeed {
  display: block;
  border: 2px;
  border-color: black;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  max-width: 100%;
  height: auto;
}

.main img {

}

.sidebar {
display: block;
 background-color: #205a8f;
 text-align: center;
 padding: 12px;
}

.sidebaritem {
  display: block;
  background-color: #2d8aca;
  margin: 10px 0px 20px 0px;
}

.footer {
  grid-area: footer;
  display: table;
  text-align: center;
  background-color: #bbbbbb;
}

/* MENU STYLING */

.header ul {
  list-style-type: none;
  margin:0;
  padding:0;
  position: absolute;
}

.header li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}

.header li a {
  display:block;
  min-width: 140px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: black;
  background: #2d8aca;
  text-decoration: none;
  margin-top: 3px;
  margin-left: 3px;
  padding: 0px 5px 0px 5px;
}
